/* styles/Explore.module.css */

.exploreCard {
  display: flex;
  align-items: center;
  background-color: #78bcff;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 600px;
  margin: 20px auto;
  height: 310px; /* Adjust the height as desired */
}

.exploreCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.textSection {
  flex: 1;
  padding: 20px;
  color: #333;
}

.textSection h4 {
  margin: 0;
  font-size: 1.2em;
  color: #272626;
}

.textSection h2 {
  margin: 10px 0;
  font-size: 2em;
  color: #222;
}

.textSection button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #151719;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.textSection button:hover {
  background-color: #0056b3;
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.imageSection img {
  max-width: 100%; /* Ensures the image does not exceed the container width */
  max-height: 200px; /* Set a maximum height to control the size */
  width: auto; /* Ensures the image maintains its aspect ratio */
  border-radius: 12px;
}
