/* Header.css */
.main {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 50px;
}

.header-actions {
  display: flex;
  gap: 15px;
}

.header-actions .text {
  font-family: "Arial, sans-serif";
  font-size: 16px;
  color: #333;
  transition: color 0.3s;
}

.header-actions .text:hover {
  color: #555;
}

.header-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.header-icons i:hover {
  color: #555;
}
