/* heading.css */

.main {
  background-color: #a3a3a3;
  color: #fff;
  padding: 0.5rem 1rem; /* Adjusted padding */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  flex: 1;
}

.main-text {
  font-size: 1rem; /* Adjusted font size */
  line-height: 1.4;
}

.main-text span {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.btn {
  background-color: #fff;
  color: #007bff;
  padding: 0.3rem 0.5rem; /* Adjusted padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ddd;
}
