.main {
  padding: 20px;
  background-color: #f9f9f9;
}

.newsAndBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHeading {
  text-align: center;
  margin-bottom: 20px;
}

.blogContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* .blogCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  transition: transform 0.2s ease-in-out;
} */

.blogCard:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .blogCard {
    width: 100%;
    margin-bottom: 20px;
  }
}
