.formDiv {
  flex: 2;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  color: #000000;
  font-size: 17px;
  font-weight: 20px;
}

input,
select {
  padding: 10px;
  border: solid black 1px;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: black;
  outline: none;
}

button[type="submit"]:hover {
  background-color: rgb(18, 18, 18) a;
}

.formDiv button {
  background-color: #313030;
  border: none;
  color: #fffcfc;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 25%;
}
