.Productlist {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.filterSection {
  flex: 1;
  min-width: 250px;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.productsSection {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 73px;
  padding: 4% 3% 0% 3%;
  margin-right: 3%;
}

.filters {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.numbering {
  margin-left: 70%;
}
