.main {
  padding: 20px;
  background-color: #f9f9f9;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h2 {
  font-size: 34px;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 80%;
  height: 70%;
  padding: 0% 1%;
  margin: 0% 9%;
}
